<!DOCTYPE html>
<html lang="es-CO">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<meta name="googlebot" content="index,follow"/>
	<meta name="author" content="Ing. Jonathan Olier Miranda"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Shift Manager</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body class="container-fluid">
		<% if current_user %>
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li><%= link_to image_tag('/assets/logo-login.png', :id => 'logobar'), root_path, :style => 'padding:0' %></li>
								<li><%= link_to 'Crear Evento', new_user_event_path(current_user) %></li>
								<li><%= link_to 'Crear Hotel', new_user_hotel_path(current_user) %></li>
							</ul>
							<ul class="nav pull-right">
								<li class="dropdown">
                        			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                    				<ul class="dropdown-menu">
			                        	<li><a href="#">Action</a></li>
			                          	<li><a href="#">Another action</a></li>
			                          	<li><a href="#">Something else here</a></li>
			                          	<li class="divider"></li>
			                          	<li><a href="#">Separated link</a></li>
                    				</ul>
                      			</li>                   			
								<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                    		</ul>
						</div>
					</div>
				</div>
			</div>
		<% end %>

	<%= yield %>

	<p class="notice hide"><%= notice %></p>
    <p class="alert hide"><%= alert %></p>

	<footer class="row-fluid">
		<p>Todos los derechos reservados por <strong><a href="http://mynuvola.com" style="text-decoration: none;">Nuvola</a> © 2013.</strong></p>
	</footer>
</body>
</html>
